/*
* OneMark Pro
*/

/* Table of Content
==================================================
  - General -
  - Cover -
  - Features -
  - Why Us -
  - Customers -
  - Pricing -
  - Team -
  - Blog -
  - Contact -
  - Footer -
  - Responsive Styles -
*/


/* - General ------------------------------------------------------- */

@import '_bootstrap-variables.scss';
@import '_bootstrap.scss';

/* - Color Variables ------------------------------------------------------- */

$box-color-1 : #66A1E6;
$box-color-2 : #FCAF62;
$box-color-3 : #FCC752;
$box-color-4 : #FE996D;
$box-color-5 : #0BC078;
$box-color-6 : #FE89A2;
$box-color-7 : #FCC752;
$box-color-8 : #4485D1;
$box-color-9 : #FCAF62;  

html {
  -webkit-text-size-adjust: none;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  
}

.btn {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  transition: all 0.3s ease-out;
}

.btn-primary {
  &:hover{
    background-color: lighten($brand-primary, 3%);
  }
}
.btn-default {
  &:hover{
    border-color: $brand-primary;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-top: 0;
  margin-bottom: 13px;
}

h2 {
  
  font-size: 28px;
  font-weight: 400;
  color: #545454;
}

h4, .h4 {
  font-family: $font-family-base-sans-serif;
  font-weight: 700;
  line-height: 26px;

  a {
    color: #535671;
    &:hover {
      color: #535671;
      text-decoration: underline;
    }
  }
}

.section {
  padding-left: 20px;
  padding-right: 20px;
}

/* No animations bellow IE10 */

.lt-ie10 {
  .animating,
  .animating-2,
  .animating-3 {
    opacity: 1;
  }
}

.no-side-padding {
  
  padding-left: 0;
  padding-right: 0;
}
/* Animation used from Animate.css - https://daneden.github.io/animate.css/ */

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

.animating,
.animating-2,
.animating-3 {
  opacity: 0;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}


/* - Cover ------------------------------------------------------- */

.cover {

  background: #4083D4;
  height: auto;
  padding: 0 0 40px;

  .hero-img-preload {
    display: none;
  }

  .custom-navbar {
    padding-top: 20px;
    border: none;
    padding-left: 0;
    padding-right: 0;
    transition: .4s;
    background-color: transparent;
  }
  .navbar-wrapper {
    display: table;
    width: 100%;
  }
  .logo-wrapper {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  .logo {
    padding: 0 0 0 10px;
    margin: 0;
    height: auto;
    position: relative;
    z-index: 2;
  }
  .hamburger {
    margin-right: 0;
    border-color: transparent;
    z-index: 2;
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
  .menu-wrapper {
    display: none;
  }
  .menu {
    .btn-subscribe {
      font-family: "Source Sans Pro", sans-serif;
    }
  }
  .menu li.active a {
    background-color: transparent !important;
  }

  .modal-menu {
    position: fixed;
    border: none;
    width: 100%;
    height: 100%;
    max-height: 100%;
    box-shadow: none;
    left: 0;
    top: 0;
    z-index: 1;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    transform: translate(0, 0);
    opacity: 0;
    background-color: rgba(0,0,0,0.9);
    visibility: hidden;
  }
  .modal-menu.in {
    opacity: 1;
    visibility: visible;
  }
  .menu-list {
    margin: 60px auto 0 auto;
    padding: 0;
    width: 280px;
    text-align: center;
    list-style:none;
    
    a {
      font-size: 20px;
      padding: 0;
      line-height: 40px;
      color: #ffffff;
    }
  }

  .custom-jumbotron {
  
    margin-top: 80px;
    width: 100%;
  
  }
  h1 {
    color: #ffffff;
    font-weight: 500;
  }
  .small-intro {
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .btn-hero-primary {
    @include button-variant(#ffffff, $brand-primary , transparent);
    padding: 10px 22px;
    font-size: 20px;
  }
  
  .img-video {
    
    cursor: pointer;
    height: auto;
    max-width: 600px;
    margin: 0 0 20px;
    width: 100%;
  }
  .img-video + hr{
    
    border:solid 1px #679DDD;
    max-width: 600px;
  }
  
  .small-intro-secondary {
    
    color: #9BBDEA;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    
  }
  
  .client-list-logo {
  
    max-width:600px; 
    width:100%;
  }
}


/* - Features ------------------------------------------------------- */

.features {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  
  .feature-heading {
    
    margin: 0 0 90px;
    p {
      font-size: 20px;
      margin:0 auto;
      max-width: 600px;
      text-align:center;
      line-height: 30px;
      
    }
    
    h2 {
      font-size: 28px;
      font-weight: 400;
      color: #545454;
      margin: 0 0 25px;
    }
  }

  .feature-item {
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
  }
  
  img {
    margin: 0 0 15px 0;
  }
  p {
    font-size: 16px;
    line-height: 21px;
  }
  
  h3 {
    color: #545454;
    font-size: 18px;
    font-weight: 400;
    margin:0 0 5px;
  }
}


/* - Why Us ------------------------------------------------------- */

.why-us {
  background-color: #eff0f4;
  text-align: center;
  overflow: hidden;

  .image-wrapper {
    margin: 0;
  }
  img {
    width: 100%;
    display: none;
  }
  p {
    margin: 30px 0;
    line-height: 30px;
  }
  .column-wrapper{
    padding: 50px 0;
  }
  
}

/* - Customer Needs ------------------------------------------------------- */

.customer-needs {
  
  background: #ffffff;
  padding: 60px 0;
  
  h2 {
    margin-bottom: 25px;
  }
  p {
    
    margin: 0 auto 50px;
    max-width: 600px;
    
  }

  img {

    height: auto;
    max-width: 800px;
    width: 100%;

  }
  
}
/* - Customers ------------------------------------------------------- */

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  .testimonial {
    margin: 40px 0 20px 0;
  }
  .small-separator {
    width: 60px;
    height: 5px;
    background-color: #eff0f4;
    margin: 0 auto;
  }
  p {
    font-style: italic;
    margin: 25px 0;
  }
  img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
  h4 {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .position {
    font-size: 16px;
    margin: 0;
  }
}


/* - Pricing ------------------------------------------------------- */

.pricing-plans {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
    margin-bottom: 40px;
    text-align: center;
  }
  .plan {
    margin: 20px 0 0 0;
  }
  .plan-wrapper {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dfdfe4;
    text-align: center;
  }
  
  .price-body {
    
    padding: 30px 20px 40px 20px;
    display: inline-block;
    
    ul {
      li {
        text-align: left;
      }
    }

  }
  .price {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: #4083D4;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    
    .price-text {
      
      text-align: left;
      margin: 0;
    }
    .ammount {
        font-size: 25px;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        
    }
  
  }
  .big-separator {
    height: 20px;
    background-color: #eff0f4;
    margin-top: 15px;
  }
  .plan-highlighted {
    .big-separator {
      background-color: #2476d0;
    }
  }
  ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
  }
  .list-group-item {
    border: none;
    padding: 0 0 0 20px;
  }
  .included {
    color: #535671;
    background-image: url('../resources/check-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  .not-included {
    color: #dbdce1;
    background-image: url('../resources/cross-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}




/* - Blog ------------------------------------------------------- */

.blog {
  background: #eff0f4;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #eff0f4;

  h2 {
    text-align: center;

  }

  .article {
    margin: 50px 0;
    padding: 0;
  }
  .article-wrapper {
    width: 280px;
    margin: 0 auto;
  }
  .time {
    font-size: 16px;
    margin-top: 20px;
  }

}


/* - Contact ------------------------------------------------------- */

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #eff0f4;
  text-align: center;

  .get-in-touch {
    
    h2 {
      
      margin-bottom: 30px;
    }
    p {
      margin-top: 25px;
      margin-bottom: 25px;
      max-width: 350px;
      margin: 0 auto;

    }
    
    a.btn {
      
      margin-top: 20px;
    }
    .bio-img {
      
      border-radius: 50%;
     
    }
    
    .right-column {
      
      margin-top: 60px;
      position: static;
  
      p {
        margin: 0 auto;
      }
      
      .bio-img {
        position: static;
        display: block;
        margin: 10px auto;
      }
    }
  }
  .follow-us {
    margin-top: 50px;
    .column-wrapper {
      margin: 0 auto;
    }
  }
  .icons {
    margin: 0 auto;
    padding: 0;
  }
  .social-icon {
    margin-top: 22px;
    text-align: center;
    display: inline-block;
    padding: 10px 10px 0 10px;
  }
}


/* - Footer ------------------------------------------------------- */

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e0e2eb;

  .copyright {
    font-size: 16px;
    color: #878aa1;
    line-height: 48px;
  }
  .footer-menu {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 32px;
    }
    li {
      display: inline-block;
      margin: 0 15px;
      font-size: 16px;
    }
    a {
      color: #535671;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


/* - Responsive Styles ------------------------------------------------------- */


@media (min-width: 480px) {

  .cover {
    h1 {
      font-size: 32px;
    }
  }
}

@media (min-width: $screen-sm-min) {

  .section {
    padding-left: 0;
    padding-right: 0;
  }
  .cover {

    .logo {
      padding: 0;
    }
    .menu-list {
      margin: 120px auto 0 auto;

      a {
        line-height: 48px;
        font-size: 28px;
      }
    }
    .custom-jumbotron {
      width: 740px;
    }
    h1 {
      font-size: 40px;
    }
    .small-intro {
      font-size: 25px;
      line-height: 32px;
    }
    .btn-hero-primary {
      padding: 15px 28px;
      font-size: 24px;
      &:hover {
        background-color: lighten($brand-primary, 3%);
      }
    }
  
  }
  .features {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .why-us {
    text-align: left;

    .image-wrapper {
      margin: 0;
    }

    img {
      display: inline-block;
      height: 450px;
    }
    .column-wrapper {
      padding: 70px 30px 70px 30px;
    }
    
  }
  .customers {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pricing-plans {
    padding-top: 80px;
    padding-bottom: 80px;
    
    
    .plan-wrapper {
     
      text-align: left;
    }
    .price-body {
      display: block;
    }
  }
  .blog {
    padding-top: 80px;
    padding-bottom: 80px;

    .article {
      margin: 40px 0 0 0;
    }
    .article-wrapper {
      width: 220px;
    }
  }
  .contact {
    padding-top: 80px;
    padding-bottom: 80px;
    
    .get-in-touch {
      
      .right-column {
  
        .bio-img {
          
        }
        
      }
    }

  }
}

@media (min-width:994px) and (max-width:1199px) {
  
  .contact {
    padding-top: 80px;
    padding-bottom: 80px;
    
    .get-in-touch {
      
      .right-column {
  
        position: static;
        
        .bio-img {
          position: static !important;
          margin: 0 10px;
        }
        
      }
    }

  }
  
}

@media (min-width: $screen-md-min) {
  .cover {
    .menu-wrapper {
      display: table-cell !important;
      vertical-align: middle;
      position: static;
      height: auto !important;
      background-color: transparent;
      opacity: 1;
    }
    .custom-navbar {
      padding-left: 10px;
      padding-right: 10px;
    }
    .logo {
      padding: 0 0 0 10px;
    }
    .menu {
      width: auto;
      margin: 0;

      li {
        margin: 0 0 0 20px;
      }
      .active {
        border-bottom: 3px solid #ffffff;
      }
      a {
        font-size: 16px;
        line-height: 38px;
        padding: 2px 0;
      }
      .btn-subscribe {
        font-family: "Work Sans", sans-serif;
        border: 1px solid #ffffff;
        border-radius: 40px;
        margin: 0;
        padding: 2px 15px;

      }
    }
    .modal-menu.in {
      visibility: hidden;
    }
    .custom-jumbotron {
      width: 960px;
    }
    .small-intro {
      width: 650px;
      margin: 20px auto 40px auto;
      float: none;
    }
  }
  .features {
    text-align: left;

    .feature-item {
      margin-top: 0;
      
    }
    
    .feature-holder {
      margin-bottom: 40px;
    }
    .feature-holder:last-child{
      margin-bottom:0;
    }
    .feature-icon {
      display: table-cell;
    }
    .feature-details {
      display: table-cell;
      vertical-align: top;
      padding-left: 15px;
      padding-right: 40px;
      
      p {
        max-width: 240px;
      }
    }
    .features p {
      font-size: 14px;
    
    }
  }
  .why-us {

    .column-wrapper {
      padding: 90px 40px 90px 40px;
    }
    
    img {
      display: inline-block;
      height: 600px;
    }
  }
  
  .customer-needs {
  
    padding: 80px 0;

  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: left;

    .small-separator {
      margin: 0;
    }
    .avatar {
      float: left;
      position: relative;
      display: inline-block;
      margin: 0 15px 0 0;
    }
    .details {
      display: table;
    }
    .position {
      font-size: 14px;
    }
  }
  .pricing-plans {
    padding-top: 120px;
    padding-bottom: 120px;

    h2 {
      text-align: left;
    }
  }
  .blog {
    padding-top: 120px;
    padding-bottom: 120px;

    .article-wrapper {
      width: auto;
    }
    .article {
      padding-left: 10px;
      padding-right: 10px;
    }
    h2 {
      text-align: left;
    }
    .time {
      font-size: 14px;
    }
  }
  .contact {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: left;

    .get-in-touch {
      
      h2 {
      
        margin-bottom: 13px;
      }
      p {
        margin: 25px 0;
      }
      
      .right-column {
        
        margin: 0;
        p{
          margin: 25px 0; 
        }
          
        .bio-img {
          
          position: absolute;
          right: 0;
          top: 20px;
        }
      }
      
      
    }
    .follow-us {
      margin-top: 0;

      .column-wrapper {
        width: auto;
        margin: 0;
      }
    }
    .social-icon {
      text-align: left;
      padding: 10px 5px 0 0;
    }
  }
  footer {
    .copyright {
      font-size: 14px;
      float: left;
    }
    .footer-menu {
      float: right;

      ul {
        line-height: 48px;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {

  .cover {
    .custom-jumbotron {
      width: 1160px;
    }
  }
 
  .why-us {
    
    .column-wrapper{
      padding: 120px 120px 120px 120px;
    }
    
  }
  .contact {
    .social-icon {
      padding: 10px 20px 0 0;
    }
  }
}